nav {
  background-color: #e1782d;
}

.navbar-collapse {
  color: var(--secondary-color);
  margin-right: 50px;
}

.nav-link {
  color: var(--secondary-color);
  font-weight: bold;
}

:root {
  --primary-color: #ffffff;
  --secondary-color: #000000;
}
.dark-theme {
  --primary-color: #1a1a1a;
  --secondary-color: #cccccc;
}
#icon {
  width: 30px;
  cursor: pointer;
}
#nav-ul {
  flex: 1;
  text-align: center;
}

body {
  background: var(--primary-color);
}

/* Carousel */
.carousel .carousel-indicators button {
  width: 10px;
  height: 10px;
  border-radius: 100%;
}

/* Our Services */
div h1 {
  padding-top: 100px;
}

.af-txt-001 {
  font-family: "roboto mono", sans-serif;
  font-weight: bolder;
  font-size: xx-large;
  text-align: right;
  color: #e1782d;
  text-shadow: 0px 0px 10px rgb(146, 145, 145);
  /* text-shadow: 0px 0px 10px rgb(204, 255, 0); */
}

.af-txt-002 {
  color: var(--secondary-color);
  text-align: center;
}

.af-txt-003 {
  color: #e1782d;
}

.scrollspy-item {
  color: var(--secondary-color);
  text-decoration: none;
}

#social {
  margin-left: 50px;
  margin-right: 50px;
}

.af-button {
  font-weight: 500;
  border: none;
  border-radius: 0;
  background-color: #e1782d;
  width: 180px;
  color: var(--primary-color);
  padding: 15px 0;
  display: inline-block;
  font-size: 16px;
  margin-top: 20px;
  cursor: pointer;
}

/* form #2, #3*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "poppins", sans-serif;
}

.form-container {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

form {
  background: #e1782d;
  display: flex;
  flex-direction: column;
  padding: 2vw 2vw;
  width: 90%;
  max-width: 600px;
  border-radius: 10px;
}
form h3 {
  color: #555;
  font-weight: 800;
  margin-bottom: 20px;
}

form input,
form textarea {
  border: 0;
  margin: 10px 0;
  padding: 20px;
  outline: none;
  color: var(--secondary-color);
  background: var(--primary-color);
  font-size: 16px;
}
form button {
  padding: 15px;
  background: var(--secondary-color);
  color: var(--primary-color);
  font-size: 18px;
  font-weight: 600;
  border: 0;
  outline: none;
  cursor: pointer;
  width: 150px;
  margin: 20px auto 0;
  /* border-radius: 30px; */
}

/* Thank You Page */
.thanks {
  display: flex;
  align-items: center;
  justify-content: center;
}
div div h1 {
  color: var(--secondary-color);
}
div div p {
  color: var(--secondary-color);
}

/* footer */
footer {
  color: var(--secondary-color);
  background-color: #e1782d;
}
i {
  color: #ff4c29;
  font-weight: 500;
  font-size: x-large;
}

a.nav-link:hover {
  color: var(--primary-color);
}

a.scrollspy-item:hover {
  color: #e1782d;
}

/* font-family: 'Poppins', sans-serif;
font-family: 'Roboto', sans-serif; */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
