nav {
  background-color: rgb(225, 120, 45);
}

.navbar-collapse {
  color: var(--secondary-color);
  margin-right: 50px;
}

.nav-link {
  color: var(--secondary-color);
  font-weight: bold;
}

/* :root {
  --primary-color: #edf2fc;
  --secondary-color: #212121;
}
.dark-theme {
  --primary-color: #000106;
  --secondary-color: #fff;
} */
:root {
  /* --primary-color: #edf2fc; */
  --primary-color: #fff;
  --secondary-color: #212121;
}
.dark-theme {
  --primary-color: #000106;
  --secondary-color: #fff;
}
#icon {
  width: 30px;
  cursor: pointer;
}
#nav-ul {
  flex: 1;
  text-align: center;
}

/* Carousel */
.carousel .carousel-indicators button {
  width: 10px;
  height: 10px;
  border-radius: 100%;
}

div h1 {
  margin-top: 50px;
  padding-top: 50px;
}

.af-txt-001 {
  font-family: "roboto mono", sans-serif;
  color: rgb(251, 255, 0);
  text-shadow: 0px 0px 10px rgb(81, 81, 81);
  /* text-shadow: 0px 0px 10px rgb(204, 255, 0); */
}

.af-txt-002 {
  text-align: center;
}

.af-txt-003 {
  color: rgb(225, 120, 45);
}

.scrollspy-item {
  color: var(--secondary-color);
  text-decoration: none;
}

#social {
  margin-left: 50px;
  margin-right: 50px;
}

.af-button {
  font-weight: 500;
  border: none;
  border-radius: 0;
  background-color: rgb(225, 120, 45);
  width: 180px;
  color: var(--primary-color);
  padding: 15px 0;
  display: inline-block;
  font-size: 16px;
  margin-top: 20px;
  cursor: pointer;
}

/* form #1 */
/* #form-body {
  background: #e8e8e8;
}

.form-area {
  padding-top: 5%;
}

.left {
  background: rgb(225, 120, 45);
  padding: 200px 98px;
  margin-bottom: 100px;
}

.left h2 {
  font-family: "Poppins", sans-serif;
  color: #fff;
  font-weight: 500;
  font-size: 48px;
}

.left h2 span {
  font-weight: 100;
}

.right {
  padding: 70px;
  position: relative;
}

.right i {
  position: absolute;
  font-size: 80px;
  left: -45px;
  top: 40%;
  color: #fff;
}

.form-control {
  border: 2px solid #000;
}

.right button {
  font-weight: 500;
  border: none;
  border-radius: 0;
  background-color: #252525;
  width: 180px;
  color: #fff;
  padding: 15px 0;
  display: inline-block;
  font-size: 16px;
  margin-top: 20px;
  cursor: pointer;
} */

/* form #2, #3*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "poppins", sans-serif;
}

.container {
  width: 100%;
  height: 100vh;
  /* background: #fff; */
  background: var(--primary-color);
  display: flex;
  align-items: center;
  justify-content: center;
}

form {
  background: rgb(225, 120, 45);
  display: flex;
  flex-direction: column;
  padding: 2vw 4vw;
  width: 90%;
  max-width: 600px;
  border-radius: 10px;
}
form h3 {
  color: #555;
  font-weight: 800;
  margin-bottom: 20px;
}

form input,
form textarea {
  border: 0;
  margin: 10px 0;
  padding: 20px;
  outline: none;
  /* background: #f5f5f5; */
  background: var(--primary-color);
  font-size: 16px;
}
form button {
  padding: 15px;
  background: #555;
  /* background: #ff5361; */
  color: var(--primary-color);
  font-size: 18px;
  border: 0;
  outline: none;
  cursor: pointer;
  width: 150px;
  margin: 20px auto 0;
  /* border-radius: 30px; */
}

.thanks {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* footer */
footer {
  color: var(--secondary-color);
  background-color: rgb(225, 120, 45);
}

i {
  color: rgb(225, 120, 45);
  font-weight: 500;
  font-size: x-large;
}

a.nav-link:hover {
  color: var(--primary-color);
}

a.scrollspy-item:hover {
  color: rgb(225, 120, 45);
}

/* font-family: 'Poppins', sans-serif;
font-family: 'Roboto', sans-serif; */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
